// Firgure out how to get this to work: @use './Scss_Variable/colors.module.scss';

// Main Set of Colors
$background: #ECF8F8;
$text: #161925;
$black: #161925;
$white: #ffffff;

// Accent Pallet
$accent-400: #5094FF;
$accent-300: #83A8D4;
$accent-200: #94B4DA;
$accent-100: #A4BFDF;

// Button Colors
$cta-primary: #FC814A;

.btn{
    padding: 8px 12px;
	border-radius: 4px;

    width: fit-content;
}

.primary{
    background-color: $cta-primary;
    color: $white;
    font-size: 18px;
    font-weight: 600;
}

.secondary{
    background: none;
    border: 2px solid $accent-400;
}