// Firgure out how to get this to work: @use './Scss_Variable/colors.module.scss';

// Main Set of Colors
$background: #ECF8F8;
$text: #161925;
$black: #161925;
$white: #ffffff;

// Accent Pallet
$accent-400: #5094FF;
$accent-300: #70A7FF;
$accent-200: #94B4DA;
$accent-100: #A4BFDF;

// Button Colors
$cta-primary: #FC814A;

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
	border-radius: 4px;
    width: 100%; 
    margin-top: 16px;        

    @media (min-width: 576px) {
        margin-top: 32px;   
        width: fit-content;
    }    
}

.primary{
    background-color: $cta-primary;
    color: $white;
    font-size: 22px;
    font-weight: 600;

    &:hover{
        background-color: #FE9E72;
    }

    @media (min-width: 576px) {
        font-size: 18px;
    }
}

.secondary{
    background: $accent-400;
    font-size: 22px;
    border: 2px solid $accent-400;
    color: $white;    

    &:hover{
        background: #85B4FF;
        border-color: #85B4FF;
    }

    @media (min-width: 576px) {
        font-size: 18px;
    }
}

.largeBtn{
    @media(min-width: 576px){
        min-width: 150px;
        height: 40px;
        font-size: 22px;
    }
}

.navBtn{
    margin-top: 0;

    @media (max-width: 576px) {
        max-width: 250px;
        max-height: 50px;
        padding: 8px;
    }
    
}