@use '../Scss_Variable/colors.module.scss' as color;

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
	border-radius: 4px;
    width: 100%; 
    margin-top: 16px;        

    @media (min-width: 576px) {
        margin-top: 32px;   
        width: fit-content;
    }    
}

.primary{
    background-color: color.$cta-primary;
    color: color.$white;
    font-size: 22px;
    font-weight: 600;

    &:hover{
        background-color: #FE9E72;
    }

    @media (min-width: 576px) {
        font-size: 18px;
    }
}

.secondary{
    background: color.$accent-400;
    font-size: 22px;
    border: 2px solid color.$accent-400;
    color: color.$white;    

    &:hover{
        background: #85B4FF;
        border-color: #85B4FF;
    }

    @media (min-width: 576px) {
        font-size: 18px;
    }
}

.largeBtn{
    @media(min-width: 576px){
        min-width: 150px;
        height: 40px;
        font-size: 22px;
    }
}

.navBtn{
    margin-top: 0;

    @media (max-width: 576px) {
        max-width: 250px;
        max-height: 50px;
        padding: 8px;
    }
    
}