@use '../Scss_Variable/colors.module.scss' as color;

.footerContainer{
    background-color: color.$white;
    width: 100%;
    padding: 16px;
    border-top: 2px solid color.$accent-100;

    @media (min-width:576px) {
        padding: 16px 32px;
    }
}

.footerList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    list-style: none;
    color: color.$text;

    li{
        margin: 8px auto;
    }

    @media (min-width: 576px) {
        flex-flow: row nowrap;
    }
}