// Firgure out how to get this to work: @use './Scss_Variable/colors.module.scss';

// Main Set of Colors
$background: #ECF8F8;
$text: #161925;
$black: #161925;
$white: #ffffff;

// Accent Pallet
$accent-400: #5094FF;
$accent-300: #83A8D4;
$accent-200: #94B4DA;
$accent-100: #A4BFDF;
$accent: $accent-400;

// Button Colors
$cta-primary: #FC814A;


.nav{
    position: relative;
    background-color: $white;
    width: 100%;    
    border-bottom: 2px solid $accent-100;
    padding: 8px 16px;



    @media (min-width: 567px) {
        padding: 8px 32px 0;
    }
}

.navContainer{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    color: $text;

}

.navListDesktop{
    display: none;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex: 1 0 auto;

    @media (min-width: 576px) {
        display: flex;
    }
}

.navListMobile{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    flex: 1 0 auto;
    width: 70%;
    height: 100vh;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: $white;
    border-left: 3px solid $accent-400;

    li{
        width: 100%;
        max-width: 270px;
        text-align: right;
        padding: 16px;
        margin: 0;
    }

    @media (min-width: 576px) {
        display: none;
    }
}

.showNav{
    display: block;
}

.hideNav{
    display: none;
}

.navItem{
    margin: 0 12px;
    font-size: 1.3rem;
}

.desktopLogo{
    display: none;

    @media (min-width: 576px) {
        display: inline-block;
    }
}

.mobileLogo{
    display: inline-block;

    @media (min-width: 576px){
        display: none;
    }
}

.mobileMenuBtn{
    background: none;
    border: none;
}