// Firgure out how to get this to work: @use './Scss_Variable/colors.module.scss';

// Main Set of Colors
$background: #ECF8F8;
$text: #161925;
$black: #161925;
$white: #ffffff;

// Accent Pallet
$accent-400: #5094FF;
$accent-300: #83A8D4;
$accent-200: #94B4DA;
$accent-100: #A4BFDF;
$accent: $accent-400;

// Button Colors
$cta-primary: #FC814A;


.nav{
    position: relative;
    background-color: $white;
    width: 100%;    
    border-bottom: 2px solid $accent-100;
    padding: 8px 16px;



    @media (min-width: 567px) {
        padding: 8px 32px 0;
    }
}

.navContainer{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    color: $text;

    @media (min-width: 576px) {
        flex-flow: row nowrap;
    }

}

.navListDesktop{
    display: none;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex: 1 0 auto;

    @media (min-width: 576px) {
        display: flex;
    }
}

.navListMobile{
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    list-style: none;
    background-color: $white;
    padding: 16px 0;
    

    li{
        text-align: center;
        margin: 0 8px;

        &:hover, &:focus{
            background-color: $accent-300;
        }

        @media (min-width: 576px) {
            padding: 16px 8px 0;
            margin: 0 8px; 
        }

    }

    @media (min-width: 576px) {
        display: none;
    }
}

.mobileHeading{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.navItem{
    margin: 0 12px;
    font-size: 1.3rem;
}

.desktopLogo{
    display: none;

    @media (min-width: 576px) {
        display: inline-block;
    }
}

.mobileLogo{
    display: inline-block;

    @media (min-width: 576px){
        display: none;
    }
}

.desktop{
    display: none;

    @media (min-width: 576px) {
        display: flex;
    }
}

.mobile{
    display: block;

    .btn{
        max-width: 250px;
    }

    @media (min-width: 576px) {
        display: none;
    }
}

.mobileMenuBtn{
    background: none;
    border: none;
}