// Main Set of Colors
$background: #ECF8F8;
$text: #161925;
$black: #161925;
$white: #ffffff;

// Accent Pallet
$accent-400: #5094FF;
$accent-300: #83A8D4;
$accent-200: #94B4DA;
$accent-100: #A4BFDF;

$accent: $accent-400;

// Button Colors
$cta-primary: #FC814A;